.navbar {
    background-color: #D5D8DC ;
  }

  .navbar-brand img {
    height: 60px; /* altura deseada */
    width: auto; /* ancho ajustado automáticamente para mantener la proporción */
  }

  .btn {
    background-color: #AED6F1;
  }