.navbar {
    background-color: #D5D8DC;
  }

  .nav-item{
    
  }

  .navbar-brand img {
    height: 60px; /* altura deseada */
    width: auto; /* ancho ajustado automáticamente para mantener la proporción */
  }

  .btn {
    background-color: #AED6F1;
  }

  body {
    font-family: 'Josefin Sans', sans-serif;
  }

  .container {
    /* Estilos para la clase container */
    width: 100%; /* Ejemplo de estilo */
    margin: 0 auto; /* Ejemplo de estilo */
    background-color: #F8F9F9 ;
  }